/* @import url("https://fonts.googleapis.com/css2?family=Salsa&family=Shantell+Sans&display=swap"); */

@font-face {
  font-family: "Salsa";
  src: url("../font/Salsa-Regular.woff2") format("woff2"),
    url("../font/Salsa-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Shantell Sans";
  src: url("../font/ShantellSans-Regular.woff2") format("woff2"),
    url("../font/ShantellSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: "Salsa", "Shantell Sans", cursive;
}

.landing {
  position: relative;
  height: 94vh;
  color: #fff;
}

.background-image {
  width: 100%;
  height: 100%;
  filter: brightness(30%);
  object-fit: cover;
}

.landing-message {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 120px;
  text-shadow: #000 0 10px;
  transform: translate(-50%, -50%);
}

.call-to-action {
  font-size: 50px;
  text-shadow: none;
}

.google-icon {
  width: 20px;
  margin-right: 20px;
}

.navbar-nav > * {
  margin-right: 20px;
}

.wrap-text {
  white-space: pre-wrap;
}

div.buttons {
  position: relative;
}

@media (max-width: 700px) {
  .landing-message {
    font-size: 60px;
  }
}
