@import url("https://fonts.googleapis.com/css2?family=Salsa&family=Shantell+Sans&display=swap");

body {
  font-family: "Salsa", "Shantell Sans", cursive;
}

.landing {
  position: relative;
  height: 94vh;
  color: #fff;
}

.background-image {
  width: 100%;
  height: 100%;
  filter: brightness(30%);
  object-fit: cover;
}

.landing-message {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 120px;
  text-shadow: #000 0 10px;
  transform: translate(-50%, -50%);
}

.call-to-action {
  font-size: 50px;
  text-shadow: none;
}

.google-icon {
  width: 20px;
  margin-right: 20px;
}

.navbar-nav > * {
  margin-right: 20px;
}

@media (max-width: 700px) {
  .landing-message {
    font-size: 60px;
  }
}
