{% extends "base.html" %} {% block title %} Home {% endblock %} {% block landing
%}
<div class="landing">
  <img
    class="background-image"
    src="{{ url_for('static', filename='images/background-compressed.jpg') }}"
    alt="note book image"
  />
  <div class="fw-bold landing-message">
    Organize Your Thoughts
    <div class="call-to-action">
      <a class="btn btn-primary btn-lg" href="/new-note"> Write A Note </a>
      <a class="btn btn-outline-primary btn-lg" href="/my-collections">
        My Collections
      </a>
    </div>
  </div>
</div>

{% endblock %}
